@import '../../main.css';

.main {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: $header-height;
  z-index: 999;
  background: rgba(255, 255, 255, 0);
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0 18px;

  * {
    color: #fff;
  }

  nav {
    span {
      padding-left: 20px;
    }
  }
}
