<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="robots" content="index, follow">
    <title>Mish Guru App</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css" rel="stylesheet" type="text/css" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
      * {
        box-sizing: border-box;
      }

      a {
        text-decoration: none;
        color: inherit;
      }

      html {
        width: 100%;
        min-height: 100%;
        font-family: 'Open Sans', Helvetica, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }

      body, #app {
        position: relative;
        min-height: 100vh;
      }
    </style>
    <% if (process.env.NODE_ENV === 'production') { %>
    <% htmlWebpackPlugin.files.css.forEach(file => { %>
    <link rel="preload" href="<%= file %>" as="style" onload="this.rel='stylesheet'" />
    <% }) %>
    <noscript>
      <% htmlWebpackPlugin.files.css.forEach(file => { %>
      <link rel="stylesheet" href="<%= file %>" />
      <% }) %>
    </noscript>
    <% } %>
  </head>
  <body>
    <div id="app"></div>
    <% htmlWebpackPlugin.files.js.forEach(file => { %>
    <script src="<%= file %>"></script>
    <% }) %>
  </body>
</html>
