@import '../../main.css';

.main {
  width: 100vw;
  height: 100vh;
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading {
  @mixin fp width, 200, 720;
}
